<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Admin</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>Painel Administrativo</h1>
        <div class="cards">
            <div class="card">
                <div class="card-body">
                    <h3>Veículos</h3>
                    <p class="preco">{{ veiculos }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3>Agendamentos</h3>
                    <p class="preco">{{ agendamentos }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3>Usuários</h3>
                    <p class="preco">{{ usuarios }}</p>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px; display: flex; gap: 12px;">
            <a href="/admin/veiculos" class="btn-card">Gerenciar veículos</a>
            <a href="/agendamentos" class="btn-card">Ver agendamentos</a>
            <a href="/cadastrar" class="btn-card">Cadastrar Veículo</a>
        </div>
    {% endblock %}
</body>
</html>