{% extends 'base.html' %}
{% block content %}
    <h1>Gerenciar Veículos</h1>
    <div class="cards">
    {% for v in veiculos %}
        <div class="card">
            <img src="/{{ v.imagem }}">
            <div class="card-body">
                <h3>{{ v.nome }}</h3>
                <p class="preco">{{ v.preco | moeda }}</p>
                <div class="card-actions">
                    <a href="/veiculo/{{ v.id }}" class="btn-secondary">Ver detalhes</a>
                    <form action="/admin/excluir/{{ v.id }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button onclick="return confirm('Tem certeza que deseja excluir')" class="btn-danger">Excluir</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}