{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        
        <h1 style="margin-bottom: 20px;">
            {% if session.get('is_admin') %}Todos os Agendamentos{% else %}Meus Agendamentos{% endif %}
        </h1>
        <div class="cards">
            {% for a in agendamentos %}
                <div class="card">
                    <div class="card-body">
                        <h3>{{ a.veiculo.nome }}</h3>
                        {% if session.get('is_admin') %}
                            <p><strong>Usuário:</strong> {{ a.usuario.nome }}</p>
                        {% endif %}
                        <p><strong>Data:</strong> {{ a.data | formatar_data }}</p>
                        <p><strong>Preço:</strong> {{a.veiculo.preco | moeda }}</p>
                        
                        <div class="card-actions">
                        {% if not session.get('is_admin') %}
                            <a href="/agendamentos/editar/{{ a.id }}" class="btn-secondary">Alterar data</a>

                            <form action="/agendamentos/excluir/{{ a.id }}" method="POST">
                                <button onclick="return confirm('Deseja excluir este agendamento?')" class="btn-danger">Excluir</button>
                            </form>
                        {% else %}
                            <form action="/admin/agendamentos/excluir/{{ a.id }}" method="POST">
                                <button onclick="return confirm('Deseja excluir este agendamento?')" class="btn-danger">Excluir</button>
                            </form>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </body>
    </html>
{% endblock %}