{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agendamentos</title>
    </head>
    <body>
        
        <h1 style="margin-bottom: 20px;">Meus Agendamentos</h1>
        <div class="cards">
            {% for a in agendamentos %}
                <div class="card">
                    <div class="card-body">
                        <h3>{{ a.veiculo.nome }}</h3>
                        <p><strong>Data:</strong> {{ a.data | formatar_data }}</p>
                        <p><strong>Preço:</strong> {{a.veiculo.preco | moeda }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </body>
    </html>
{% endblock %}