<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Consignação Veículos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-left">
            Consignação Veículos
        </div>
        <div class="nav-center">
            <a href="/">Home</a>
            {% if session.get('usuario_id') %}
                <a href="/agendamentos">Agendamentos</a>
            {% endif %}

            {% if session.get('is_admin') %}
                <a href="/cadastrar">Cadastrar Veículo</a>
                <a href="/admin">Painel Admin</a>
                <a href="/admin/usuarios">Usuários</a>
            {% endif %}
        </div>
        <div class="nav-right">
            {% if session.get('usuario_id') %}  
                <span style="color: white; margin-right: 12px;">Olá, {{ session.get('usuario_nome') }}!</span>
                <a href="/logout" class="btn-nav">Logout</a>
            {% else %}
                <a href="/login" class="btn-nav">Login</a>
            {% endif %}
        </div>
    </nav>

    <!-- Conteúdo -->
     <div class="container">
        {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                {% for categoria, msg in mensagens %}
                    <div class="alert {{ categoria }}">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Consignação Veículos</h3>
                <p>Encontre o veículo dos seus sonhos com segurança e transparência.</p>
            </div>
            <div class="footer-section">
                <h3>Localização</h3>
                <p>Avenida 9 de Julho, 841</p>
                <p>Centro - Valparaiso, São Paulo</p>
                <p>CEP: 16.880-170</p>
            </div>
            <div class="footer-section">
                <h3>Contatos:</h3>
                <p>(18)99605-3108 (Grilo)</p>
                <p>(18)99686-8409 (Gabriel)</p>
                <p>(18)99122-5298 (Mayck)</p>
            </div>
            <div class="footer-section">
                <h3>Horário de Funcionamento</h3>
                <p>Segunda à Sexta: 09:00 às 18:00</p>
                <p>Sábado: 09:00 às 12:00</p>
                <p>Domingo: Fechado</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Consignação Veículos. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const telefone = document.getElementById("telefone");

            if (telefone) {
                telefone.addEventListener("input", function (e) {
                    let valor = e.target.value.replace(/\D/g, "");

                    if (valor.length > 11) valor = valor.slice(0, 11);

                    if (valor.length > 6) {
                        valor = valor.replace(/^(\d{2})(\d{5})(\d{0,4})$/, "($1) $2-$3");
                    } else if (valor.length > 2){
                        valor = valor.replace(/^(\d{2})(\d{0,5})$/, "($1) $2");
                    } else {
                        valor = valor.replace(/^(\d*)$/, "($1");
                    }

                    e.target.value = valor;
                });
            }
        });

        function trocarImagem(elemento) {
            document.getElementById("imagem-principal").src = elemento.src;
        }

        function toggleSenha(id) {
            const input = document.getElementById(id);
            const icon = input.nextElementSibling;

            if(input.type === "password") {
                input.type = "text";
                icon.style.opacity = "1";
            } else {
                input.type = "password";
                icon.style.opacity = "0.5";
            }
        }
    </script>
</body>
</html>
