{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <div class="form-container">
            <h1>Alterar Agendamento</h1>
            <p><strong>Veiculo:</strong> {{ agendamento.veiculo.nome }}</p>
            <form method="POST">
                <div class="form-group">
                    <label>Nova data:</label>
                    <input type="date" name="data" value="{{ agendamento.data }}" required>
                </div>
                <button class="btn">Salvar</button>
            </form>
        </div>
    </body>
    </html>
{% endblock %}