{% extends 'base.html' %}
{% block content %}
    <div class="form-container">
        <h1>Login</h1>

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <input type="email" name="email" placeholder="Seu email" required>
            </div>
            <div class="form-group senha-box">
                <input type="password" id="senha" name="senha" placeholder="Senha" required>
                <span onclick="toggleSenha('senha')" class="eye">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" width="20">
                        <path d="M1 12s4-6 11-6 11 6 11 6-4 6-11 6-11-6-11-6z"/>
                        <circle cx="12" cy="12" r="3"/>
                    </svg>
                </span>
            </div>

            <button type="submit" class="btn btn-center">Entrar</button>
        </form>
        <div class="link">
            <p>Esqueceu sua senha? <a href="/esqueci-senha">Clique aqui</a></p>
            <p>Não tem conta?<a href="/registro">Cadastre-se</a></p>
        </div>
    </div> 
{% endblock %}