<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{{ veiculo.nome }}</title>
    </head>
    <body>
        <a href="/"> Voltar </a>
        
        <h1>{{ veiculo.nome }}</h1>

        <img src="/{{ veiculo.imagem }}" width="300">

        <p>{{ veiculo.descricao }}</p>
        <h2> R$ {{ veiculo.preco }}</h2>

        <hr>

        <h2>Agendar visita</h2>

        <form method="POST">
            <input type="date" name="data" required><br><br>
            <button type="submit">Agendar</button>
        </form>
    </body>
</html>