<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{{ veiculo.nome }}</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}

            <h1>{{ veiculo.nome }}</h1>

            <img src="/{{ veiculo.imagem }}" width="400">

            <p>{{ veiculo.descricao }}</p>
            <h2 class="preco">{{ veiculo.preco | moeda }}</h2>

            <hr>
            <h3>Mais fotos</h3>

            <div>
                {% for foto in veiculo.fotos %}
                    <img src="/{{ foto.caminho }}" width="150">
                {% endfor %}
            </div>
            <hr>
            <h2>Agendar visita</h2>

            <form method="POST">
                <input type="date" name="data" required><br><br>
                <button type="submit">Agendar</button>
            </form>
        {% endblock %}
    </body>
</html>